.modal-model-detail-wapper{

    // .model-detail-footer{
    //     height: 1px;
    //     width: 372px;
    //     border: 1px solid #F4F4F4;
    //     background-color: #E3E3E3;
    // }
    .button-footer.model-detail-button{
        #vfsm-edit-user-edit.ant-btn.btn-general.ml-3{
            background-color: #fff;
            border: 1px solid #E3E3E3;
            color: #C82C1F;
        }
        #vfsm-edit-user-edit.ant-btn.btn-general.ml-3:hover{
            background-color: #bdbdbd;
            color: #C82C1F;
        }
    }
}
.modal-col-input-content{
  
}
.vfsm-select-msg-wrapper{
    .vfsm-select-error{
        color: red;
        font-size: 14px;
        font-family: Vodafone;
        padding-left: 2px;
        float: left;
    }
    .vfsm-select-guimsg{
        color: rgb(51, 54, 54);
        font-size: 14px;
        font-family: Vodafone;
        float: right;
        padding-right: 4px;
    }
}