.see-more-device {
    .root-show {
        max-width: 142px;
        margin-left: auto;
        margin-right: auto;
        .device-root {
            cursor: pointer;
            .ant-avatar {
                height: 171px !important;
                width: 142px !important;
            }
        }
    }
    
    .sub-show {
        max-width: 81px;
        margin-left: auto;
        margin-right: auto;
        .device-sub {
            cursor: pointer;
            .ant-avatar {
                height: 97px !important;
                width: 81px !important;
            }
        }
    }
    
    .device-id {
        background-color: #FFFFFF;
        padding: 3px;
        min-height: 23px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 1px solid #F4F4F4;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        border-radius: 999px;
        color: #000000;
    }
}
