.add-card-model-wapper{
    height: 172px;
    margin-top: 20px;
    border: 1px solid #F4F4F4;
    background-color: #FFFFFF;
    display: flex !important;
    justify-content: center !important;
    .add-card-model-circle{
        background-color: #F4F4F4;
        margin-top: 50px;
        height: 55px;
        width: 55px;
        border: 1px solid #EEEEEE;
        border-radius: 25px;
        display: flex !important;
        justify-content: center !important;
        .add-card-icon{
            margin-top: 10px;
        }
    }
}
.add-card-model-wapper:hover{
    cursor: pointer;
    border: 2px solid Lavender;
    background-color: #999999;
    .add-card-model-circle{
        background-color: #FFFFFF;
    }
}