.custom-select-wapper {
    cursor: pointer;
    position: absolute;
}
.vfsm-custom-select-icon{
    svg.injected-svg{
        width: 15px;
        height: 15px;
        .cls-1{
            fill: black !important;
        }
    }
}