@model ReflectionIT.Mvc.Paging.PagingList<hmx.vodafone.web.Models.UserViewModels.UserViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
    bool isCSRead = (bool)ViewData["IsCSRead"];
}
 
<h2>Customers</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form id="customerForm" method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="Search by IMEI" value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <a asp-action="Index" class="btn btn-default">Back to Full List</a>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Customers List
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.CreatedDate, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.UserId, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.NickName, this.Model)
                        </th>                
                        <th>
                            @Html.SortableHeaderFor(model => model.MobileType, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Imei, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.DeviceCount, this.Model)
                        </th>
                        <th>
                            Actions
                        </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NickName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imei)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceCount)
                    </td>
                    <td>
                        @if(isCSRead)
                        {
                            <button class="btn btn-info btn-sm" onclick="deviceList('@item.UserId', '1');">DeviceList</button>
                            <button class="btn btn-success btn-sm" onclick="popupRegister('@item.UserId');" disabled>Register</button>
                            <button class="btn btn-warning btn-sm" onclick="popupUserNickNameModify('@item.UserId', '@item.Imei');" disabled>Modify</button>
                        }
                        else
                        {
                            <button class="btn btn-info btn-sm" onclick="deviceList('@item.UserId', '1');">DeviceList</button>
                            <button class="btn btn-success btn-sm" onclick="popupRegister('@item.UserId');">Register</button>
                            <button class="btn btn-warning btn-sm" onclick="popupUserNickNameModify('@item.UserId', '@item.Imei');">Modify</button>
                        }
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <nav aria-label="User navigation example">
        <vc:pager paging-list="@Model" />
        </nav>
    </div>
</div>

<div id="deviceListPlace" style="display:none;"></div>
<div id="activityListPlace" style="display:none;"></div>
<div id="activitySeriesListPlace" style="display:none;"></div>
<div id='myModal' class='modal'>  
    <div class="modal-dialog">  
        <div class="modal-content">  
            <div id='myModalContent'></div>  
        </div>  
    </div>
</div>

<script type="text/javascript">

    function deviceList (userId, page) {
        $.ajax({
            url: '@Url.Action("DeviceList")',
            type: 'GET',
            data: { filter: userId, page: page },
            success: function(partialView) {
                $('#activitySeriesListPlace').html();
                $('#activitySeriesListPlace').hide();
                $('#activityListPlace').html();
                $('#activityListPlace').hide();
                $('#deviceListPlace').html(partialView);
                $('#deviceListPlace').show();
            }
        });
    }

    function activityList (deviceId, page) {
        $.ajax({
            url: '@Url.Action("ActivityList")',
            type: 'GET',
            data : { id : deviceId, page: page },
            success: function (partialView) {
                $('#activitySeriesListPlace').html();
                $('#activitySeriesListPlace').hide();
                $('#activityListPlace').html(partialView);
                $('#activityListPlace').show();
            }
        });
    }

    function activitySeriesList (activityId, page) {
        $.ajax({
            url: '@Url.Action("ActivitySeriesList")',
            type: 'GET',
            data : { id : activityId, page: page },
            success: function (partialView) {
                $('#activitySeriesListPlace').html(partialView);
                $('#activitySeriesListPlace').show();
            }
        });
    }

    function popupRegister (userId) {
        $.ajax({
            url: '@Url.Action("Register")',
            type: 'GET',
            data: { userId: userId },
            success: function(partialView) {
                $('#myModalContent').html(partialView);
                $('#myModal').modal('show');
            }
        });
    }

    function popupUserNickNameModify (userId, deviceUid) {
        $.ajax({
            url: '@Url.Action("UserNickNameModify")',
            type: 'GET',
            data: { userId: userId, deviceUid: deviceUid },
            success: function(partialView) {
                $('#myModalContent').html(partialView);
                $('#myModal').modal('show');
            }
        });
    }

    function popupDeviceNameModify (deviceId, userId, page) {
        $.ajax({
            url: '@Url.Action("DeviceNameModify")',
            type: 'GET',
            data: { deviceId: deviceId, userId: userId, page:page },
            success: function(partialView) {
                $('#myModalContent').html(partialView);
                $('#myModal').modal('show');
            }
        });
    }

    
    function popupSendMessage (deviceUid, userId, page) {
        $.ajax({
            url: '@Url.Action("SendMessage")',
            type: 'GET',
            data: { deviceUid: deviceUid, userId: userId, page: page },
            success: function(partialView) {
                $('#myModalContent').html(partialView);
                $('#myModal').modal('show');
            }
        });
    }

    function popupDeleteUserDevice (deviceId, userId, page) {
        $.ajax({
            url: '@Url.Action("DeleteUserDevice")',
            type: 'GET',
            data: { deviceId: deviceId, userId: userId, page: page },
            success: function(partialView) {
                $('#myModalContent').html(partialView);
                $('#myModal').modal('show');
            }
        });
    }

    $("#closbtn").click(function () {  
            $('#myModal').modal('hide');  
    });

    function popupRegisterSuccessNoAction() {
        $('#myModalContent').html("");
        $('#myModal').modal('hide');
    }

    function popupRegisterSuccess (result) {
        alert(result.message);
        $('#myModalContent').html("");
        $('#myModal').modal('hide');

        switch (result.redirect_method) {
            case "refresh":
            $('#activitySeriesListPlace').html();
            $('#activitySeriesListPlace').hide();
            $('#activityListPlace').html();
            $('#activityListPlace').hide();
            $('#deviceListPlace').html();
            $('#deviceListPlace').hide();
            $('#customerForm').submit();
            break;
            case "deviceList":
            deviceList(result.parameter_id, result.parameter_page);
            break;
            case "activityList":
            activityList(result.parameter_id, result.parameter_page);
            break;
            case "activitySeriesList":
            activitySeriesList(result.parameter_id, result.parameter_page);
            break;
            case "noAction":
            break;
        }
    }

    function popupRegisterFailure(result) {
        alert(result.status + " : " + result.statusText);
        $('#myModalContent').html("");
        $('#myModal').modal('hide');
    }
</script>