@model hmx.vodafone.web.Models.UserViewModels.SendMessageViewModel
  
<div>  
    <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>  
        <h4 class="modal-title" id="myModalLabel">Select Message Type</h4>  
    </div>                 
    
    <div class="modal-body">
            <form asp-controller="User" asp-action="SendMessage"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-success="popupRegisterSuccess"
                data-ajax-failure="popupRegisterFailure">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DeviceUid" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Page" />
                <div class="form-group">
                    <label asp-for="Lat" class="control-label"></label>
                    <input type="text" value="" asp-for="Lat" class="form-control"/>
                    <span asp-validation-for="Lat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lng" class="control-label"></label>
                    <input type="text" value="" asp-for="Lng" class="form-control" />
                    <span asp-validation-for="Lng" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Battery" class="control-label"></label>
                    <input type="text" value="" asp-for="Battery" placeholder="0 ~ 100" class="form-control" />
                    <span asp-validation-for="Battery" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MessageType" class="control-label"></label>
                    @Html.DropDownList("MessageType", (IEnumerable<SelectListItem>)ViewData["EventTypeList"], new {@class="form-control"})
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary btn-lg btn-block" />
                </div>
            </form>
    </div>
</div>  