.modal-model-detail-wapper{
    width: 100%;
    .model-detail-footer{
        height: 1px;
        width: 372px;
        border: 1px solid #F4F4F4;
        background-color: #E3E3E3;
    }
    .vfsm-add-new-role-title{
        margin-bottom: 10px;
        margin-top: 10px;
        span{
            font-size: 20px;
            font-weight: bold;
            padding-left: 2px;
        }
    }
}
.ant-modal.vfsm-detail-role-modal{
    .ant-modal-content{
        height: fit-content;
        width: 40%;
        .vfsm-detail-role-content{
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 370px!important;
            .ant-col-18.customer-detail-col-detail{
                width: 75%;
                .customer-detail-col-detail-span{
                    width: 100%;
                }
            }
        }
    }
}

.add-device-input-error{
    border: 1px solid red ;
    width: 400px !important;
    border-radius: 5px;
}
.add-device-input-error{
    .ant-select-selection.ant-select-selection--single:focus{
        border: none;
    }
}