
.custom-select {
    font-family: 'Vodafone' !important;
    .ant-select-arrow {
        right: 20px;
        &:before {
            font-weight: bold;
        }
    }
    .ant-select-selection {
        height: 40px;
        padding-left: 10px;

        &__rendered {
            line-height: 38px;
        }

        &__placeholder {
            div span {
                color: #8196C0;
            }
        }

        &__clear {
            right: 40px;
        }
    }

}

.ant-select-dropdown {
    border: 1px solid #E7EBF2;
    box-shadow: none !important;
    font-family: 'Vodafone' !important;
}
.ant-select-dropdown-menu-item {
    color: #4f5b7a;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    &:hover {
        background-color: #F8FAFF !important;
        &:not(:first-child){
            border-top: 1px solid #E7EBF2;
        }

        &:not(:last-child){
            border-bottom: 1px solid #E7EBF2;
        }
    }

    &-active {
        background: #F8FAFF !important;
        &:not(:first-child){
            border-top: 1px solid #E7EBF2;
        }

        &:not(:last-child){
            border-bottom: 1px solid #E7EBF2;
        }
    }

    &-selected {
        // background-color: #F8FAFF !important;
        
    }
}

.vfsm-select-msg-wrapper{
    .vfsm-select-error{
        color: red;
        font-size: 14px;
        font-family: Vodafone;
        padding-left: 2px;
        float: left;
    }
    .vfsm-select-guimsg{
        color: rgb(51, 54, 54);
        font-size: 14px;
        font-family: Vodafone;
        float: right;
        padding-right: 4px;
    }
}
