.ant-notification.ant-notification-bottomRight{
    height: 77px;
    width: 237px;
    .vfsm-notification-error{
        height: 77px;
        width: 237px;
        border: 1px solid #B23737;
        background-color: #FFEBEB;
        .ant-notification-notice-content{
            text-align: center;
            justify-content: center;
            justify-items: center;
            margin-top: -9px;
            color: rgb(10, 10, 10);
            padding-top: -21px;
        }
        .ant-notification-notice-close{
        //    display: none;
        }
    }
    .vfsm-notification{
        height: 77px;
        width: 237px;
        border: 1px solid #77b237;
        background-color: #f2ffeb;
        .ant-notification-notice-content{
            text-align: center;
            justify-content: center;
            justify-items: center;
            margin-top: -9px;
            color: #37b290;
            padding-top: -21px;
        }
        .ant-notification-notice-close{
        //    display: none;
        }
    }
}