.modal-comfirm {
    .ant-modal-title {
        color: #4B4D4E;
        font-family: Vodafone;
        font-size: 20px;
    }
    .ant-modal-content {
        margin: 0 auto;
        height: 163px;
        width: 546px;
    }
    .ant-modal-body {
        button {
            height: 48px;
            width: 147px;
            background-color: #C82C1F;
            color: white;
            text-align: center;
            font-size: 18px;
            font-family: Vodafone;
            font-weight: bold;
            line-height: 0;
            margin-left: 100px;
        }
        .body-cancel {
            height: 13px;
            
            width: 48px;
            color: #333333;
            font-family: Vodafone;
            font-size: 18px;
            line-height: 0;
            margin-left: 50px;
        }
        button:hover {
            background: red;
        }
        button:disabled {
            background: #4B4D4E
        }
        .body-cancel:hover {
            cursor: pointer;
            color: red;
        }
    }
}