/*Monitoring Modal*/
.ant-modal-content {
    overflow-y: auto;
}
.customer-detail-row{
    border: 1px solid #F8F8F8;
}

.ant-row.customer-detail-row{
    margin-bottom: -2px;
}

.customer-detail-col-name{
    height: 76px;
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
    padding-top: 28px;
}
.customer-chil-detail-col-name{
    height: 260px;
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
    padding-top: 28px;
}
    .customer-detail-col-name-span{
        margin-left: 24px;
        padding-left: 0px;
        color: #4B4D4E;	
        text-align: left;
        font-size: 14px;
        font-weight: 700;
        /* line-height: 70px; */
    }

.customer-detail-col-detail{
    height: 76px;
    width: 467px;
    padding-top: 28px;
}
.customer-detail-col-detail-span{
    // margin-left: 52px;
    padding-left: 0px;
    color: #4B4D4E;	
    text-align: left;
    font-size: 14px;
    /* line-height: 70px; */
}

.add-col-detail {
    height: 76px;
    padding: 15px 25px !important;
}
.add-col-chil-detail {
    height: auto;
    padding: 15px 25px !important;
}
.add-device-select {
    width: 100% !important;
}
.add-device-input {
    width: 100% !important;
}
.modal-col-select-wapper {
    width: 400px !important;
}


