
/* hide GG suggestion */
.gm-style a {
    display: none !important;
}

.gm-style .gm-style-cc{
    display: none;
}
.gm-style .gmnoprint.gm-style-cc{
    display: none;
}
.vfsm-google-maps-info-box{
    font-size: 12px;
}
div.gm-style-iw{
    top: 14px !important;
}
.vfsm-google-map-1{
    div.gm-style{
        div:nth-of-type(1)  div:nth-of-type(1) div div:nth-of-type(3) div div div  {
            color: #6f6464 !important;
            border: 2px solid #b3b0b0;
            border-radius: 7px;
            margin-top: 66px;
            background: #FFFFFF;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

.vfsm-google-map-2{
    div.gm-style{
        div:nth-of-type(1)  div:nth-of-type(1) div div:nth-of-type(5) div div div  {
            color: #6f6464 !important;
            border: 2px solid #b3b0b0;
            border-radius: 7px;
            margin-top: 66px;
            background: #FFFFFF;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    div.gm-style{
        div:nth-of-type(1)  div:nth-of-type(1) div  div:nth-of-type(4) div div div  {
            color: #6f6464 !important;
            border: 2px solid #b3b0b0;
            border-radius: 7px;
            margin-top: 66px;
            background: #FFFFFF;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}


