.event-card {
    background-color: #F8F8F8;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 4px;
    .ant-row {
        width: 100%;
    }

    .event-device-name {
        background-color: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        width: 125px;
        min-height: 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 1px solid #F4F4F4;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        border-radius: 50px;
        color: #000000;
    }

    .event-device-icon {
        cursor: pointer;
        display: table;
        margin: 0 auto;
        .ant-avatar {
            height: 77px !important;
            width: 64px !important;
        }
    }

    .event-device-time {
        margin-top: 25px;
        margin-left: 15px;
        display: block;
        color: #333333;
        font-size: 14px;
    }

    .event-other-icon {
        cursor: pointer;
        background-color: #FFFFFF;
        display: inline-block;
        margin-top: 25px;
        border-radius: 9999px;
    }

    .fall-icon {
        background-color: #F5C344;
    }
    .sos-icon {
        background-color: #CA444A;
    }
    .history-icon {
        background-color: #357BF6;
    }

    .ant-avatar-circle {
        padding: 10%;
    }

    .event-battery-icon {
        position: absolute;
        right: 22px;
        bottom: 4px;
        cursor: pointer;
        svg {
            height: 15px;
            width: 25px;
        }
    }
}