.header {
    h1 {
        margin-bottom: 0;
        font-weight: bold;
    }
    .user-info-wrapper {
        width:250px;
        padding: 30px;
        .vfsm-info-content{
            margin-bottom: 55px;
        }
    }
    .user-name {
        margin-left: 10px;
        margin-top: 15px;
        font-size: 15px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        position: fixed;
    }
    .inner-left {
        border-right: 2px solid #edf0f7;
        padding-right: 25px;
    }
}