.model-detail-content-wapper{

    .model-detai-footer{
        height: 1px;
        width: 372px;
        border: 1px solid #F4F4F4;
        background-color: #E3E3E3;
    }
}
.modal-col-input-wapper{
    width: 50%;
}