@model hmx.vodafone.web.Models.DBModels.VodafoneBeacon

@{
    ViewData["Title"] = "Index";
}

<h2>Beacon Search</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form method="get" class="form-inline">
            <input name="mac" class="form-control" placeholder="Search by MAC" value="@ViewData["mac"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Beacon Location
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Lat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lng)
                        </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Lng)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>