
$info-color: #4292C5;                         // primary color for all components
$link-color: #1890ff;                            // link color
$success-color: #3CAE8C;                         // success state color
$warning-color: #faad14;                         // warning state color
$danger-color: #ED7B7A;


/*custom ant-btn*/
button.ant-btn {
    color: black;
    padding: 0 25px;
    height: auto;
    width: auto;
    font-size: 13px;
    border: none;
    &:active {
        color: #fff;
        box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }
    &:focus {
        color: #fff;
    }
}

button.ant-btn.btn-primary {
    background-color: #6CC74E;
    height: 40px;
    width:175px;
    border-radius: 999px;
    font-size: 14px;
    &:hover {
        background-color: #53b235;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: #6CC74E;
            color:#fff;
        }
    }

}

button.ant-btn.btn-general {
    background-color: #B23737;
    border-radius: 10px;
    display: flex;
    padding : 7px 37px;
    font-size: 14px;
    color:#fff;
    &:hover {
        background-color: rgb(103, 148, 236);
    }

    &[disabled]{
        background-color: #F4F4F4;
        color:#fff;
        &:hover {
            background-color: #F4F4F4;
        }
    }

}

button.ant-btn.btn-cancel {
    background: none;
    border-radius: 10px;
    display: flex;
    padding : 7px 30px;
    font-size: 14px;
    color:#000000;
    &:hover {
        background-color: #F4F4F4;
    }

}

button.ant-btn.btn-search {
    background-color: #B23737;
    height: 40px;
    width: auto;
    border-radius: 10px;
    font-size: 14px;
    color:#fff;
    &:hover {
        background-color: rgb(103, 148, 236);
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: rgb(103, 148, 236);
        }
    }

}

button.ant-btn.btn-secondary {
    background-color: #fff;
    height: 40px;
    width:150px;
    border-radius: 999px;
    font-size: 14px;
    color: #8196C0;
    border: 1px solid #8A9DC4;
    &:hover {
        background-color: #f5f5f5;
    }

    &[disabled]{
        opacity: .7;
        color:#8196C0;
        &:hover {
            background-color: #fff;
            color:#8196C0;
        }
    }

}
button.ant-btn.btn-success {
    background-color: $success-color;

    &:hover {
        background-color: #2b9978;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: $success-color;
            color:#fff;
        }
    }

}

button.ant-btn.btn-info {
    
    background-color: #4292C5;

    &:hover {
        background-color: #2a79ac;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: #4292C5;
            color:#fff;
        }
    }

}

button.ant-btn.btn-danger {
    
    background-color: #ED7B7A;;

    &:hover {
        background-color: #e55f5e;
        color:#fff;
    }

    &[disabled]{
        opacity: .7;
        color:#fff;
        &:hover {
            background-color: #ED7B7A;
            color:#fff;
        }
    }

}


/*custom input*/
input.ant-input {
    height: 40px;
    width: 200px;
    border-color: #D4DAE7;
    padding-left: 20px;
    font-family: 'Vodafone';

}

/*custom pagination*/
.ant-pagination-prev, .ant-pagination-next {
    display: none;
}
.ant-pagination-item {
    font-family: 'Vodafone';
    min-width: 34px;
    height: 34px;
    border-color: #f1f1f1;
    border-radius: 0;
    &-active a {
        background-color: #2D3B58;
        color: #fff;
        border-color: #2D3B58;
        transition: none;
        &:hover {
            color:#fff;
        }
    }
    &-active:focus a{
        color: #fff;
        border-color: #2D3B58;
    }
    &-active:focus, &:hover {
        border-color: #2D3B58;
        transition: none;
        
    }
    &-active:hover a{
        color: #fff !important; 
    }
    &:hover a {
        color: rgba(0, 0, 0, 0.65);
    }
}

/*custom ant-menu*/
.ant-menu {
    background-color: inherit;
}
.ant-menu-item {
    height: 80px !important;
    padding: 20px 25px !important;
    font-size: 20px !important;
    text-transform: uppercase;
    font-family: 'Vodafone';
    margin: 0 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(244, 244, 244, 0.2);
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    border-right: 0;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 0;
}
.ant-menu-submenu {
    padding: 16px 0;
}
.ant-menu-submenu > .ant-menu {
    background-color: inherit;
}
.ant-menu-submenu .ant-menu-item {
    height: 40px !important;
    text-transform: none;
    padding: 0 80px !important;
    font-size: 16px !important;
}
.ant-menu-item:active, .ant-menu-submenu-title:active {
    background: transparent;
}

.ant-menu-submenu-active {
    span {
        color: #1890ff;
    }
}

/*custom ant-modal*/
.ant-modal-wrap {
    display:table;
    height: 100%;
    width: 100%;
}
.ant-modal {
    font-family: 'Vodafone';
    top: 0;
    left: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.ant-modal-content .ant-modal-header{
    border: 1px solid #F1F1F1;
    border-bottom-width: 2px;
    border-bottom-color: #C82C1F; 
    background-color: #F4F4F4;
}
// .anticon.anticon-close.ant-modal-close-icon{
//     padding-right: 30px;
//     padding-top: 18px;
// }
span.ant-modal-close-x  {
    font-size: 23px;
}
.ant-modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
.ant-modal-content .ant-modal-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 24px;
    display: inline-block;
    width: 100%;
    overflow-y: auto;
}
.ant-modal-header .ant-modal-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    color: #4B4D4E;
    text-align: left;
}

/*custom ant-pagination*/
.ant-pagination-item {
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    color: #F8F8F8 !important;
    font-family: 'Vodafone';
    font-size: 15px;
}

.ant-pagination-item-active:focus, .ant-pagination-item:hover {
    border: 1px solid #F8F8F8;
}

.ant-pagination-item-active, .ant-pagination-item-active a {
    background-color: #C82C1F;
}

/* custom small select*/
.ant-dropdown-menu {
    padding: 0;
}
.ant-dropdown-menu-item{
    border-block-end: 1px solid #F4F4F4 ;
    font-family: 'Vodafone';
    font-size: 15px;
    padding: 8px 10px;
    .select-option-delete{
        color: red;
    }
}
.ant-dropdown-menu-item:not(.ant-dropdown-menu-item-disabled) {
    color: #000000;
}
.ant-switch-checked {
    background-color: rgb(178, 55, 55);
}
 
/* modal input error msg*/
.modal-col-input-wapper{
        
    .input-error-message{
        padding-left: 20px;
        color: red;
        font-size: 13px;
    }
}

/* Customize Avatar */
.ant-avatar {
    border-radius: 9999px;
}

/* Customize Table */
.ant-table-wrapper {
    .ant-table-thead > tr > th {
        background-color: #F8F8F8;
    }
    .ant-table-tbody > tr > td {
        font-size: 13px;
        text-align: center;
    }
    .ant-table-pagination {
        display: none;
    }
    .ant-table-header {
        //overflow: hidden !important;
        overflow-x: hidden;
        padding-bottom: 15px !important;
    }
}

/* Custom button */
#vfsm-button-footer-modal-edit.ant-btn.btn-general.ml-3{
    background-color: #fff;
    border: 1px solid #E3E3E3;
    color: #C82C1F;
    i.anticon.anticon-spin.anticon-loading{
        color: red;
    }
}
#vfsm-button-footer-modal-edit.ant-btn.btn-general.ml-3:hover{
    background-color: #bdbdbd;
    color: #C82C1F;
}

#vfsm-button-footer-modal-edit.ant-btn.btn-general.ml-3:disabled{
    background-color: #bdbdbd;
    i.anticon.anticon-spin.anticon-loading{
        color: red;
    }
    span{
        color: #C82C1F;
    }
}

//-------//

#vfsm-button-footer-modal-save.ant-btn.btn-general.ml-3{
    background-color:  #C82C1F;
    border: 1px solid #E3E3E3;
    span{
        color: #fff;
    }
    i.anticon.anticon-spin.anticon-loading{
        color: #fff;
    }
}
#vfsm-button-footer-modal-save.ant-btn.btn-general.ml-3:disabled{
    background-color:  #fff;
    border: 1px solid #E3E3E3;
    span{
        color: #C82C1F;
    }

    i.anticon.anticon-spin.anticon-loading{
        color: #C82C1F;
    }
}
