
.row,
.row-center,
.row-end,
.row-between {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.row-end {
    justify-content: flex-end;
}

.row {
	>.flex-33 {
		max-width: 33.33%;
	}
	>.flex-66 {
		max-width: 66.66%;
	}
	&>.md-button:first-child {
		margin-left: 0;
	}
	&>.column+.column {
		margin-left: 1rem;
	}
}

.column {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	box-sizing: border-box;
}

.row-between {
	justify-content: space-between
}

.row-center {
	justify-content: center;
}

.row-end {
	justify-content: flex-end;
	&>.md-button:last-child {
		margin-right: 0;
	}
}

.flex {
	min-width: 0;
	flex: 1;
}

.no-grow {
	flex-grow: 0;
}

.flex-none {
	flex: 0 0 auto;
}

$spacer: 20px;

.hidden {
    display: none !important;
}

.w-100,
.full-width {
	width: 100% !important;
}

.w-auto {
	width: auto !important;
}

.h-100,
.full-height {
	height: 100% !important;
}

.mw-100 {
	max-width: 100% !important;
}

.mh-100 {
	max-height: 100% !important;
}

.m-0 {
	margin: 0 !important;
}

.mt-0,
.my-0 {
	margin-top: 0 !important;
}

.mr-0,
.mx-0 {
	margin-right: 0 !important;
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
	margin-left: 0 !important;
}

.mt,
.my {
	margin-top: 0.25 * $spacer;
}

.mr,
.mx {
	margin-right: 0.25 * $spacer;
}

.mb,
.my {
	margin-bottom: 0.25 * $spacer;
}

.ml,
.mx {
	margin-left: 0.25 * $spacer;
}


.m-1 {
	margin: 0.5 * $spacer;
}

.mt-1,
.my-1 {
	margin-top: 0.5 * $spacer;
}

.mr-1,
.mx-1 {
	margin-right: 0.5 * $spacer;
}

.mb-1,
.my-1 {
	margin-bottom: 0.5 * $spacer;
}

.ml-1,
.mx-1 {
	margin-left: 0.5 * $spacer;
}

.m-2 {
	margin: 0.75 * $spacer;
}

.mt-2,
.my-2 {
	margin-top: 0.75 * $spacer;
}

.mt-2 {
	position: relative;
}

.mr-2,
.mx-2 {
	margin-right: 0.75 * $spacer;
}

.mb-2,
.my-2 {
	margin-bottom: 0.75 * $spacer;
}

.ml-2,
.mx-2 {
	margin-left: 0.75 * $spacer;
}

.m-3 {
	margin: 1 * $spacer;
}

.mt-3,
.my-3 {
	margin-top: 1 * $spacer;
}

.mr-3,
.mx-3 {
	margin-right: 1 * $spacer;
}

.mb-3,
.my-3 {
	margin-bottom: 1 * $spacer;
}

.ml-3,
.mx-3 {
	margin-left: 1 * $spacer;
}

.m-4 {
	margin: 1.25 * $spacer;
}

.mt-4,
.my-4 {
	margin-top: 1.25 * $spacer;
}

.mr-4,
.mx-4 {
	margin-right: 1.25 * $spacer;
}

.mb-4,
.my-4 {
	margin-bottom: 1.25 * $spacer;
}

.ml-4,
.mx-4 {
	margin-left: 1.25 * $spacer;
}

.m-5 {
	margin: 1.5 * $spacer;
}

.mt-5,
.my-5 {
	margin-top: 1.5 * $spacer;
}

.mr-5,
.mx-5 {
	margin-right: 1.5 * $spacer;
}

.mb-5,
.my-5 {
	margin-bottom: 1.5 * $spacer;
}

.ml-5,
.mx-5 {
	margin-left: 1.5 * $spacer;
}

.mt-6,
.my-6 {
	margin-top: 2 * $spacer;
}

.mr-6,
.mx-6 {
	margin-right: 2 * $spacer;
}

.mb-6,
.my-6 {
	margin-bottom: 2 * $spacer;
}

.ml-6,
.mx-6 {
	margin-left: 2 * $spacer;
}

.p-1 {
	padding: 0.5 * $spacer;
}

.pt-1,
.py-1 {
	padding-top: 0.5 * $spacer;
}

.pr-1,
.px-1 {
	padding-right: 0.5 * $spacer;
}

.pb-1,
.py-1 {
	padding-bottom: 0.5 * $spacer;
}

.pl-1,
.px-1 {
	padding-left: 0.5 * $spacer;
}

.p-2 {
	padding: 0.75 * $spacer;
}

.pt-2,
.py-2 {
	padding-top: 0.75 * $spacer;
}

.pr-2,
.px-2 {
	padding-right: 0.75 * $spacer;
}

.pb-2,
.py-2 {
	padding-bottom: 0.75 * $spacer;
}

.pl-2,
.px-2 {
	padding-left: 0.75 * $spacer;
}

.p-3 {
	padding: 1 * $spacer;
}

.pt-3,
.py-3 {
	padding-top: 1 * $spacer;
}

.pr-3,
.px-3 {
	padding-right: 1 * $spacer;
}

.pb-3,
.py-3 {
	padding-bottom: 1 * $spacer;
}

.pl-3,
.px-3 {
	padding-left: 1 * $spacer;
}

.p-4 {
	padding: 1.25 * $spacer;
}

.pt-4,
.py-4 {
	padding-top: 1.25 * $spacer;
}

.pr-4,
.px-4 {
	padding-right: 1.25 * $spacer;
}

.pb-4,
.py-4 {
	padding-bottom: 1.25 * $spacer;
}

.pl-4,
.px-4 {
	padding-left: 1.25 * $spacer;
}

.p-5 {
	padding: 1.5 * $spacer;
}

.pt-5,
.py-5 {
	padding-top: 1.5 * $spacer;
}

.pr-5,
.px-5 {
	padding-right: 1.5 * $spacer;
}

.pb-5,
.py-5 {
	padding-bottom: 1.5 * $spacer;
}

.pl-5,
.px-5 {
	padding-left: 1.5 * $spacer;
}

.p-0 {
	padding: 0 !important;
}

.pt-0,
.py-0 {
	padding-top: 0 !important;
}

.pr-0,
.px-0 {
	padding-right: 0 !important;
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
	padding-left: 0 !important;
}

.m-auto {
	margin: auto !important;
}

.mt-auto,
.my-auto {
	margin-top: auto !important;
}

.mr-auto,
.mx-auto {
	margin-right: auto !important;
}

.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
	margin-left: auto !important;
}
