#root {
    height: 100%;
}

.app {
    height: 100%;
}

.sidebar {
    float: left;
    width: 277px;
    height: 100%;
    background-color: #2D3B58;
    .sidebar-logo {
        background-color: #FFFFFF;
        height: 110px;
        img {
            width: 121px;
            margin-top: 28px;
            margin-left: 61px;
        }
    }
}

.main {
    height: 100%;
    .header {
        height: 110px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #B23737;
    }
    .page-content {
        height: calc(100% - 111px);
        padding: 30px 28px;
    }
}