/* Make clicks pass-through */
#nprogress {
    height: 100%;
    background: #29d;
    pointer-events: auto!important;
}

#nprogress .spinner {
    top: 40%!important;
    right: 50%!important;
}
#nprogress .spinner-icon {
    width: 50px!important;
    height: 50px!important;    
    border-top-color: red!important;
    border-left-color: red!important;
}
#nprogress-container {
    // display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999!important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#nprogress .bar {
    background: red!important;
    height: 3px!important;
}