
@import '~antd/dist/antd.css';
@import 'antd';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import 'default';
@import 'helper';
@import 'layout';
@import 'typo';
@import 'nprogress';





/*override react-perfect-scrollbar */
.ps__rail-y {
    left: unset !important;
}
.ps__rail-x {
    top: unset !important;
    bottom: 0;
}