
.monitoring-data {

    .time-column {
        margin-top: 25px;
    }

    .device-column {
        height: 100%;
    }

    .monitoring-child {
        display: flex;
        background-color: #F8F8F8;
        padding: 12px 22px;
        border-radius: 10px; 
        margin: 10px;
        .ant-row {
            width: 100%;
        }
    }
    .monitoring-customer {
        margin-right: 20px;
    }
    .monitoring-time {
        width: 73px;
        color: #333333;
        font-size: 14px;
    }
    .monitoring-device {
        overflow: hidden;
        height: 100%;
    }
}
