.custom-date-picker {
    position: relative;
    padding-top: 8px;
    height: 40px;
    width: 190px;
    border: 1px solid #D4DAE7;
    background: #fff;
    outline: none;

    &.focused {
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        border-color: #40a9ff;
        svg path {
            fill: #8196C0;
        }
        label {
            color: #8196C0;
        }
    } 

    label {
        position: absolute;
        left: 20px;
        z-index: 9;
        color:#000000;
    }

    .date-icon {
        display: inline-block;
        position: absolute;
        top:-1px;
        right:20px;
        path {
            fill:#F4F4F4;
        }
        svg {
            width:18px;
            user-select: none;
        }
        &:hover {
            path {
                fill:#8196C0;
            }
        }
    }
    .react-datepicker-wrapper {
        width: 100%;
        padding-left: 65px;
        height: 30px;
        input {
            border: none;
            outline: none;
            width: 95px;
            font-size: 13px;
        }
    }
}
