
$borderColor : royalblue;
.node {
    display: flex;
    flex-direction: column;
    margin: 30px;
    position: relative;

    &.first-child {
        &::after {
            content: ' ';
            position: absolute;
            width: calc(50% + 30px);
            left: 50%;
            top: -25px;
            border-top: 1px dashed $borderColor;
        }
    }

    &.last-child {
        &::after {
            content: ' ';
            position: absolute;
            width: calc(50% + 30px);
            left: -30px;
            top: -25px;
            border-top: 1px dashed $borderColor;
        }
    }

    &.mid-child {
        &::after {
            content: ' ';
            position: absolute;
            width: calc(100% + 60px);
            top: -25px;
            left: -28px;
            border-top: 1px dashed $borderColor;
        }
    }
}

.node-name-wrap {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;

    &.has-children::after {
        content: ' ';
        height: 40%;
        position: absolute;
        left: 50%;
        top: 65%;
        border-left: 1px dashed $borderColor;
    }

    &:not(.is-root)::before {
        content: ' ';
        top: -40%; 
        height: 40%;
        position: absolute;
        left: 50%;
        border-left: 1px dashed $borderColor;
    }
}

.node-name {
    border: 1px solid royalblue;
    max-width: 400px;
    min-width: 100px;
    padding: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    &.active {
        color: red;
    }
}
.node-children {
    display: flex;
    align-items: 'start';
    justify-content: space-around;
}