.inputFile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.showFile {
	background-color: #FFFFFF;
    box-shadow: 0 4px 5px 7px rgba(153,153,153,0.22);
    font-family: Vodafone;	
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer; 
}
.chooseFile {	 
    background-color: #FFFFFF;
    box-shadow: 0 4px 5px 7px rgba(153,153,153,0.22);
    font-family: Vodafone;	
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;    
    padding: 5px 20px;
}