@model ReflectionIT.Mvc.Paging.PagingList<hmx.vodafone.web.Models.ApplicationUser>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

<h2>Admin Users</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <form method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="Search by Email" value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <a asp-action="Index" class="btn btn-default">Back to Full List</a>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Admin User List
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.SortableHeaderFor(model => model.Email, this.Model)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.EmailConfirmed, this.Model)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.UserRoles, this.Model)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @foreach(var role in item.UserRoles) {
                            <p>@(role.Role.Name)</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Roles Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <nav aria-label="Products navigation example">
        <vc:pager paging-list="@Model" />
        </nav>
    </div>
</div>