.button-footer {
    margin-top: 30px;
    float: right;
    display: flex;
    button {
        margin-left: 10px;
        display: inline-block;
    }
    .ant-btn[disabled]{
        background: #F4F4F4 !important;
    }
    .anticon.anticon-spin.anticon-loading{
        margin-top: 5px;
        color: red;
    }
}