.vfsm-voda-input-wrapper{
    max-height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
        .vfsm-voda-input-title{
            font-size: 20px;
            padding-bottom: 5px;
        }

    .vfsm-voda-input-contain{
        ant-input.ant-input-lg.vfsm-voda-input-with-error{
            border-color: red !important;
        }
        // ant-input.ant-input-lg.vfsm-voda-input-without-error{
        //     border-color: #D4DAE7;
        // }
    }
    .vfsm-input-error-box{
        .vfsm-input-error-msg{
            color: red;
            font-size: 14px;
            font-family: Vodafone;
            padding-left: 2px;
            float: left;
        }
        .vfsm-input-guid-msg{
            color: rgb(51, 54, 54);
            font-size: 14px;
            font-family: Vodafone;
            float: right;
            padding-right: 4px;
        }
    }

}
.vfsm-voda-input-with-title-wrapper{
    max-height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    .vfsm-voda-input-title-wrapper{
        .vfsm-voda-input-title{
            font-size: 20px;
            padding-bottom: 5px;
            display: inline-block;
        }
    
        .vfsm-input-error-msg-title{
            color: #E50202;
            font-family: Vodafone;
            font-size: 20px;
            line-height: 35px;
            float: right;
        }
        .vfsm-input-guid-msg-title{
            color: #1C8046;
            font-family: Vodafone;
            font-size: 20px;
            line-height: 35px;
            float: right;
        }
    }

    .vfsm-voda-input-contain{
        ant-input.ant-input-lg.vfsm-voda-input-with-error{
            border: 1px solid #C4C4C4;
            background-color: #FBFEC4;
        }
    }
    .vfsm-input-error-box{
        .vfsm-input-error-msg{
            color: red;
            font-size: 14px;
            font-family: Vodafone;
            padding-left: 2px;
            float: left;
        }
        .vfsm-input-guid-msg{
            color: rgb(51, 54, 54);
            font-size: 14px;
            font-family: Vodafone;
            float: right;
            padding-right: 4px;
        }
    }
}

.vfsm-checkbox-wrapper{
    padding: 10px;
    .ant-checkbox-input{
        height: 18px;
        width: 18px;
        border: 1px solid #C4C4C4;
        background-color: #FFFFFF;
    }
}