@model hmx.vodafone.web.Models.OTAViewModels.OTACreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Vodafone OTA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                @Html.DropDownList("ModelId", (IEnumerable<SelectListItem>)ViewData["ModelList"], new {@class="form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label">Version (x.x.x.x)</label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewData["CategoryList"], new {@class="form-control"})
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
