@model hmx.vodafone.web.Models.OTAViewModels.OTAUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vodafone OTA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ModelId" />
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <input asp-for="ModelId" class="form-control" disabled/>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Version" />
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" disabled/>
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Category" />
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" disabled/>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" disabled />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ModifiedDate" />
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" disabled />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
