
@model ReflectionIT.Mvc.Paging.PagingList<hmx.vodafone.web.Models.DBModels.VodafoneModelOTA>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}
<h2>OTA</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <form method="get" class="form-inline">
            <div class="form-group">
                @Html.DropDownList("ModelId", (IEnumerable<SelectListItem>)ViewData["ModelList"], new {@class="form-control"})
            </div>
            <div class="form-group">
                @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewData["CategoryList"], new {@class="form-control"})
            </div>
            <input name="filter" class="form-control" placeholder="Search by Version" value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <a asp-action="Index" class="btn btn-default">Back to Full List</a>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        OTA List
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.ModelId, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Version, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Category, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.IsActive, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.FileSize, this.Model)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.CreatedDate, this.Model)
                        </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-ModelId="@item.ModelId" asp-route-Version="@item.Version" asp-route-Category="@item.Category" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Edit" asp-route-ModelId="@item.ModelId" asp-route-Version="@item.Version" asp-route-Category="@item.Category" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-ModelId="@item.ModelId" asp-route-Version="@item.Version" asp-route-Category="@item.Category" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <nav aria-label="Products navigation example">
        <vc:pager paging-list="@Model" />
        </nav>
    </div>
</div>
