.modal-event {
    height: 550px;

    .location-icon {
        cursor: pointer;
        svg {
            height: 30px;
            width: 20px;
        }
    }

    .ant-table-row .btn-general {
        background-color: #F4F4F4 !important;
        color: #333333;
        padding: 5px 10px !important;
        min-height: 35px;
        svg {
            width: 21px;
            height: 21px;
            margin-right: 5px;
        }
        #Location {
            fill: #333333 !important;
        }
    }

    .ant-row {
        height: 52vh !important;
    }
    
    .modal-event-back {
        margin-bottom: 10px;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
       // border-right: 1px solid #e8e8e8;
        text-align: center;
    }
    .ant-table-thead > tr , .ant-table-tbody > tr {
        border: 1px solid #F1F1F1;
        background-color: #FFFFFF !important;
        > td:nth-child(1), th:nth-child(1)  {
            text-align: left ;
        }
        > td {
            text-align: center ;
        }
    }
}

#vfsm-modal-event-history{
    .ant-table-thead > tr , .ant-table-tbody > tr {
        border: 1px solid #F1F1F1;
        background-color: #FFFFFF !important;
        > td:nth-child(2), th:nth-child(2) {
            text-align: left ;
        }
        
    }
    .ant-table-tbody > tr {
        > td:nth-last-child(1) {
            //justify-content: center;
            .action-row a {
                margin-left : 0px !important;
            }
            .ant-btn.btn-general.ml-3{
                margin-left: 10px;
            }
        }
    }
}
.see-more-modal {
    .ant-modal-body {
        height: 550px;
    }
    .sub-element {
        margin-top: 20px;
    }
    .device-list-map-button{
        background-color: #F4F4F4 !important;
        color: #333333;
        padding: 5px 10px !important;
        min-height: 35px;
        svg {
            width: 21px;
            height: 21px;
            margin-right: 5px;
        }
    }
    .ant-row {
        height: 550px !important;
    }
}
