@model hmx.vodafone.web.Models.PaginatedList<hmx.vodafone.web.Models.DBModels.VodafoneDevice>

@{
    ViewData["Title"] = "Index";
}

<h2>Devices</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Search by [Device Id] : <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default">Back to Full List</a>
                </p>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Device List
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                        <th>
                            Device Id
                        </th>
                        <th>
                            Model Id
                        </th>
                        <th>
                            SW
                        </th>
                        <th>
                            Chipset
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Active Date
                        </th>
                        <th>
                            Is Actived
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceVersion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChipsetVersion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activated)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.DeviceId" class="btn btn-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.DeviceId" class="btn btn-success">Edit</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>