.monitoring-sort {
    margin-top: 15px;
    padding: 10px;
    background-color: #F4F4F4;
    .custom-select {
        width: 145px !important;
    }
    .ant-select-selection {
        height: 30px;
    }
    .custom-select .ant-select-selection__rendered {
        line-height: 27px;
    }
    .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
        color: black;
    }

    .sort-order {
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
        .ascending, .descending {
            cursor: pointer;
            svg {
                width: 8px;
                height: 7px;
                #ARROW {
                    fill: #636363;
                }
            }
            div {
                display: flex;
            }
        }
        .ascending:hover, .descending:hover {
            #ARROW {
                fill: #89dff4;
            }
        }
        .active {
            path {
                fill: #89dff4 !important;
            }
        }


        .ascending {
            transform: rotateX(180deg);
            margin-bottom: 5px;
        }
    }
}

.monitoring-data {
    padding: 20px;
    border: 1px solid #F1F1F1;
}

.monitoring-paging {
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 20px;
}
